{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Scientific Foundations - New Learning Objective{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Added Learning Objective</h1>
</div>
<div class="col-md-5">
	<div id="learning-objective">
	{% if objective.free_form_version != None %}
	    {{ objective.free_form_version }}
	{% else %}
	    {{ objective.conditions }}, {{ objective.who }} should be able to {{ objective.verb }} {{ objective.content }}
	{% endif %}
	</div>
	<hr />
	<h3>Options</h3>
	<p><a class="btn btn-primary" href="{{ url_for('main.enter_learning_objective_for_session', id=session.id) }}" role="button">Enter another Learning Objective for This Session »</a></p>
	<p><a class="btn btn-primary" href="{{ url_for('main.enter_question_for_learning_objective', id=objective.id) }}" role="button">Enter a Question for This Learning Objective »</a></p>

	
</div>

{% endblock %}