{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Scientific Foundations - Diagram of a Learning Objective{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href={{ url_for('static', filename='css/diagram_of_a_learning_objective.css') }}>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Diagram of a learning objective</h1>
</div>
<div class="col-md-12">
	<div class="learning-objective">
		<a href="#" class="learning-objective-condition" title="This is the condition part of the learning objective. It defines the conditions underwhich the student should be able to meet the objective.">Given a set of histological images</a>, <a href="#" class="learning-objective-who" title="This is the who part of the learning objective. It describes for whom the learning objective is targeted.">students</a> will be able to <a href="#" class="learning-objective-verb" title="This is the verb part of the learning objective. It describes the specific action the person should be able to perform. Verbs can be chosen to vary the complexity of the learning objective">classify</a> <a href="#" class="learning-objective-content" title ="This is the content part of the learning objective. It describes the content on which the student should be able to perform a specfic task">epithelia based on the shape of the cells and the number of layers of cells</a>.
	</div>
	<br>
	<a class="btn btn-primary btn-lg" href= "/enter-learning-objective" role="button">Build a Learning Objective »</a>
	
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src={{ url_for('static', filename = 'js/diagram_of_a_learning_objective.js') }}></script>
{% endblock %}