{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SciFoundations - Enter Learning Objective{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Enter a Learning Objective for {{ session.title }}</h1>
	<p>Need help? Visit our guide to writing learning objectives: <a href="{{ url_for('main.guide_to_writing_learning_objectives') }}">GUIDE >></a></p>
</div>
<div class="col-md-5">
    {{ wtf.quick_form(form) }}


</div>
{% endblock %}
{% block scripts %}
	{{ super() }}
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename = 'js/enter_learning_objective_for_session.js') }}"></script>
{% endblock %}